<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
                ID
            </th>
            <th scope="col" class="px-6 py-3">
                Descrição
            </th>
            <th scope="col" class="px-6 py-3">
                Status
            </th>
            <th scope="col" class="px-6 py-3">
              Projeto ID
            </th>
          </tr>
      </thead>
      <tbody>
        @for (disciplina of disciplinas; track disciplina.disciplina_id) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{disciplina.disciplina_id}}
            </th>
            <td class="px-6 py-4">
                {{disciplina.disciplina_descricao}}
            </td>
              <td class="px-6 py-4">
                {{disciplina.disciplina_status}}
            </td>
            <td class="px-6 py-4">
              {{disciplina.projeto_id}}
          </td>
          </tr>
        }
      </tbody>
  </table>
</div>


