<div class="w-full h-[70px]"><app-navbar></app-navbar></div>
<div id="container-1" class="grid grid-cols-12 " >
  <div id="SidBar" class="col-span-2 border h-[700px]  flex justify-center">SidBar</div>
  <div id="container-2" class="col-span-10 p-4 ">
    <div id="buscas" class="container grid grid-cols-2  align-middle border h-[42px] mb-4">
        <div id="filtros" class="flex text-center items-center justify-center col-start ">Breadcrumbs </div>
        <div id="busca" class="flex justify-center col-end-">Busca</div>
    </div>
    <div id="container-3" class="grid grid-cols-10 ">
      <div id="table" class="col-span-6 border mr-6">table</div>
      <div id="detalhesDoArquivo" class="col-span-4 ">
        <div><app-tabs/></div>
      </div>
    </div>
  </div>
</div>
